:root {
  --dark-color1: #232331;
  --dark-color2: #292738;
  --dark-color3: #2b242b;
}

.features-section-two .feature-block-three .inner,
.services-section .bg-image:before,
.tracking-section.pull-down .outer-box:before,
body,
.sticky-header.fixed-header,
.page-wrapper {
  background-color: var(--dark-color1);
}

.fact-counter-one,
.features-section-two,
.testimonial-section-two .bg-image::before,
.why-choose-us-two .info-box,
.service-block-two .inner-box .image-box .icon,
.services-section-two .bg-image:before,
.about-block:hover .icon,
.about-section .experience,
.tracking-form .form-group .icon,
.tracking-form .form-group input,
.tracking-form form,
.work-block .icon-box,
.fact-counter .counter-column .inner,
.range-slider-one .ui-widget.ui-widget-content,
.contact-form .form-group .select2-container--default .select2-selection--single,
.feature-block-three .inner:hover,
.offer-section .image-column .fact-counter-one,
.subscribe-form .form-group input[type=email],
.news-block .lower-content,
.service-block .content-box,
.clients-section,
.header-top .inner-container,
.feature-block .inner-box:before {
  background-color: var(--dark-color2);
}

.list-style-two li {
  color: #fff;
}

.header-lower .logo-box,
.testimonial-block .content-box,
.news-block .inner-box:hover .read-more,
.pricing-block.style-two .inner-box {
  background-color: var(--dark-color3);
}

.btn-style-three,
.work-tabs .tab-buttons .tab-btn {
  background-color: #000;
}

.work-block .icon-box .count {
  background-color: #2c2c4e;
}

.blockquote-one {
  background-color: #323232;
}

.skills .skill-item .skill-bar .bar-inner {
  background-color: #161618;
}

.about-section .content-column .info-btn i {
  background-color: #282a2e;
}

.feature-block-three .icon:after {
  background-color: #303642;
}

.features-section-two .feature-block-three .icon:after {
  background-color: #40405e;
}

.features-section-two .feature-block-three .inner:hover,
.about-block .icon {
  background-color: #303044;
}

.team-section:before,
.about-section-two.style-two .float-text {
  opacity: 0.1;
}

.features-section-two:before,
.work-section .icon-dotted-map-2 {
  opacity: 0.1;
}

.service-block .read-more i {
  color: #fff;
  -webkit-box-shadow: 0 10px 30px rgba(255, 255, 255, 0.12);
          box-shadow: 0 10px 30px rgba(255, 255, 255, 0.12);
}

.about-section-two .content-column .inner-column .list-style-two li {
  color: #6a6a6a;
}

.about-section .content-column .info-box .inner:hover .icon {
  color: #fff;
}

.process-block .inner-box::before,
.service-block .inner-box {
  border-color: var(--dark-color1);
}

.team-block .image-box:before,
.tracking-form .form-group:first-child:before,
.about-block,
.clients-section.style-two .sponsors-outer,
.accordion-box .block,
.news-block .bottom-box,
.clients-section .sponsors-outer {
  border-color: #464548;
}

.clients-section.alternate,
.pricing-block.style-two .price-box {
  border-color: rgba(255, 255, 255, 0.2);
}

.news-block .content-box {
  border-color: #292738;
}

.service-block-two .inner-box {
  border-color: #181616;
}

.about-section-two .content-column .float-text {
  color: #3a3a3a;
}

.blockquote-one {
  color: #8d8d8d;
}

.features-section-two .title-box .title,
.feature-block-three .title,
.testimonial-block-two .info-box .name,
.team-block .info-box .name a,
.why-choose-us-two .info-box strong,
.about-section .experience strong,
.fact-counter .count-box .count-text,
.feature-block-three .title:hover,
.fact-counter-one .count-box,
.work-block .title,
.service-block .content-box .title a,
.founder-info .name,
.about-block .title,
.feature-block .content-box .title a,
.feature-block .content-box .title a:hover,
.news-block .title a,
.main-menu .navigation > li > a,
strong,
.title a,
.sec-title h2 {
  color: #fff;
}

.about-section .content-column .info-box:hover .title {
  color: var(--dark-color1);
}

.testimonial-section-two .icon-plane-1,
.why-choose-us .image-column .plane,
.faqs-section .icon-object-2,
.services-section .icon-object-2,
.features-section .icon-object-1 {
  opacity: 0.3;
}

.clients-section.style-two,
.faq-block {
  border-color: #505050;
}

.why-choose-us .content-column .info-box,
.feature-block .content {
  border-color: #404040;
}

.counter-block .counter-title {
  color: #a8adb3;
}

.news-block .content-box .read-more {
  border-color: #404040;
}

.pie-graph {
  border-color: #404040;
}

.project-section:before,
.blockquote-style-one,
.header-style-two {
  background-color: unset;
}

.testimonial-section .icon-plane-2,
.testimonial-section .icon-bg-dots,
.work-section .icon-plane-1 {
  opacity: 0.3;
}

.counter-block .inner {
  background-image: unset;
}

.bg-pattern-1 {
  background-image: url(../images/icons/pattern-9.jpg);
}

.bg-pattern-2 {
  background-image: url(../images/icons/pattern-9.jpg);
}

.bg-pattern-4 {
  background-image: url(../images/icons/pattern-9.jpg);
}

.bg-pattern-10 {
  background-image: url(../images/icons/pattern-9.jpg);
}

.main-slider:before {
  background-image: url(../images/main-slider/bottom-shape-dark.png);
}

.work-block .icon-box:after {
  background-image: url(../images/icons/dots-dark.png);
}

.clients-carousel .slide-item img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.clients-section .slide-item a:hover {
  background-color: inherit;
}

.contact-form.light:before {
  background-image: url(../images/icons/shape-5-dark.png);
}

.contact-form .form-group textarea {
  background-color: #0a090f;
}
.contact-form .form-group input:not([type=submit]) {
  background-color: #0a090f;
}